<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
  </head>

  <body>
    <div>
        <h1>
          Top ページ
        </h1>
        <%= link_to '投稿一覧', [:post_index] %>
        <%= link_to '投稿画面', [:new_post] %>
      </div>
  </body>
</html>