    <div>
        <h1 style="text-align:center;">
         Top ページ
        </h1>
	<div style="text-align:center;">
	<div>
	    <div style="display:inline-block;width:200px;height:200px;margin-top:40px;text-align:center;">
	        <a class="btn btn-outline-info" href="/post">
	        <img src="assets/look.png" alt="" width="64" height="64"><br>投稿一覧</a>
            </div>
	    <div style="display:inline-block;width:200px;height:200px;margin-top:40px;text-align:center;">
		<a class="btn btn-outline-info" href="/post/muroran">
		<img src="assets/look.png" alt="" width="64" height="64"><br>室蘭の投稿</a>
	    </div>
            <div style="display:inline-block;width:200px;height:200px;margin-top:40px;text-align:center;">
                <a class="btn btn-outline-info" href="/post/miyako">
                <img src="assets/look.png" alt="" width="64" height="64"><br>宮古の投稿</a>
            </div>
        <div style="display:inline-block;width:200px;height:200px;margin-top:40px;text-align:center;">
	    <a class="btn btn-outline-info" href="/post/new">
	    <img src="assets/write.png" alt="" width="64" height="64"><br>投稿画面</a>
	</div>
    </div>
