<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
  </head>

  <body>
    <div>
        <h1>
          Top ページ
        </h1>
        <a class="btn btn-outline-info" href="/post">投稿一覧</a>
        <a class="btn btn-outline-info" href="/post/new">投稿画面</a>
      </div>
  </body>
</html>